<main class="contact">
  <h1>Obsidian</h1>

  <h2>contact</h2>
  <section>
    <article>
      <form>
        <p><span class="bold">Name</span> (required)</p>
        <input name="name">
        <p><span class="bold">Email</span> (required)</p>
        <input name="mail">
        <p><span class="bold">Website</span></p>
        <input name="website">
        <p><span class="bold">Comment</span> (required)</p>
        <textarea name="comment"></textarea>
        <input type="submit" value="Submit »" class="submit">
      </form>
    </article>

    <article class="search">
      <section>
        <input name="search" placeholder="Search ...">
      </section>
      <section>
        <h1>Latest news</h1>
        <article>
          <h2>Welcome to our redesigned website</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt... </p>
          <p>april 1, 2015</p>
        </article>
        <article>
          <h2>New tour dates posted</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut... </p>
          <p>april 1, 2015</p>
        </article>
        <article>
          <h2>History of popular music</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor... </p>
          <p>april 1, 2015</p>
        </article>
      </section>
    </article>
  </section>
</main>
