<main class="contact">
  <h1>Obsidian</h1>

  <h2>contact</h2>
  <section>
    <article class="form">
      <form>
        <p>Name (Required)</p>
        <input name="name">
        <p>Email (Required)</p>
        <input name="mail">
        <p>Website</p>
        <input name="website">
        <p>Comment (Required)</p>
        <textarea name="comment"></textarea>
        <input type="submit" value="Submit">
      </form>
    </article>

    <article class="search">
      <section>
        <input name="search" placeholder="Search ...">
      </section>
      <section>
        <h1>Latest news</h1>
        <article>
          <h2>Welcome to our redesigned website</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          <p>april 1, 2015</p>
        </article>
        <article>
          <h2>New tour dates posted</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          <p>april 1, 2015</p>
        </article>
        <article>
          <h2>History of popular music</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          <p>april 1, 2015</p>
        </article>
      </section>
    </article>
  </section>
</main>
