<main class="home">
  <h1>Projet Audio</h1>
  <section class="homevid">
    <h2>videos</h2>
  </section>

  <section class="gigs">
    <h2>upcomming gigs</h2>
  </section>

  <section class="presentation">
    <h2>...</h2>
  </section>

</main>
