<main class="home">
  <h1>Projet Audio</h1>
  <section class="homevid">
    <h2>videos</h2>
    <ul>
      <li>
        <article>
          <img src="assets/video-like-a-rose-530x300.jpg">
          <h3>Like a Rose -- Ashley Monroe</h3>
        </article>
      </li>
      <li>
        <article>
          <img src="assets/video-big-love-550-530x300.jpg">
          <h3>Big Love -- Carrie Rodriguez</h3>
        </article>
        </li>
      <li>
        <article>
          <img src="assets/video-waitin-on-june-530x300.jpg">
          <h3>Waiting on June -- Holly Williams</h3>
        </article>
      </li>
    </ul>
  </section>

  <section class="gigs">
    <h2>upcomming gigs</h2>
    <ul>
      <li>a</li>
      <li>a</li>
      <li>a</li>
      <li>a</li>
      <li>a</li>
    </ul>
  </section>

  <section class="presentation">
    <ul>
      <li><article>a</article></li>
      <li><article>a</article></li>
      <li><article>a</article></li>
    </ul>
  </section>

</main>
