<main class="home">
  <h1>Projet Audio</h1>
  <section class="homevid">
    <h2>videos</h2><a href="#">all videos</a>
    <ul>
      <li>
        <article>
          <img src="assets/video-like-a-rose-530x300.jpg">
          <h3>Like a Rose -- Ashley Monroe</h3>
        </article>
      </li>
      <li class="middle">
        <article>
          <img src="assets/video-big-love-550-530x300.jpg">
          <h3>Big Love -- Carrie Rodriguez</h3>
        </article>
        </li>
      <li>
        <article>
          <img src="assets/video-waitin-on-june-530x300.jpg">
          <h3>Waiting on June -- Holly Williams</h3>
        </article>
      </li>
    </ul>
  </section>

  <section class="homegigs">
    <h2>upcomming gigs</h2>
    <ul>
      <li>
        <div class="col1">
          <p>sep</p>
        </div>
        <div class="col2">
          <p>14</p>
        </div>
        <div class="col3">
          <p>Nashville, TN</p>
        </div>
        <div class="col4">
          <p>The Bluebird Cofee</p>
        </div>
      </li>
      <li>
        <div class="col1">
          <p>sep</p>
        </div>
        <div class="col2">
          <p>16</p>
        </div>
        <div class="col3">
          <p>Seatle, WA</p>
        </div>
        <div class="col4">
          <p>Tractor Tavern</p>
        </div>
      </li>
      <li>
        <div class="col1">
          <p>sep</p>
        </div>
        <div class="col2">
          <p>17</p>
        </div>
        <div class="col3">
          <p>Alexandria, VA</p>
        </div>
        <div class="col4">
          <p>The Birchmere</p>
        </div>
      </li>
      <li>
        <div class="col1">
          <p>sep</p>
        </div>
        <div class="col2">
          <p>25</p>
        </div>
        <div class="col3">
          <p>Washington, DC</p>
        </div>
        <div class="col4">
          <p>The Hamilton</p>
        </div>
      </li>
      <li>
        <div class="col1">
          <p>sep</p>
        </div>
        <div class="col2">
          <p>30</p>
        </div>
        <div class="col3">
          <p>Chipping Ongar, Essex</p>
        </div>
        <div class="col4">
          <p>Zinc Arts Centre</p>
        </div>
      </li>
    </ul>
    <a href="#">view all gigs</a>
  </section>

  <section class="presentation">
    <ul>
      <li><article>a</article></li>
      <li><article>a</article></li>
      <li><article>a</article></li>
    </ul>
  </section>

</main>
