<main class="home">
  <h1>Projet Audio</h1>
  <section class="homevid">
    <h2>videos</h2>
    <ul>
      <li><article>a</article></li>
      <li><article>a</article></li>
      <li><article>a</article></li>
    </ul>
  </section>

  <section class="gigs">
    <h2>upcomming gigs</h2>
    <ul>
      <li>a</li>
      <li>a</li>
      <li>a</li>
      <li>a</li>
      <li>a</li>
    </ul>
  </section>

  <section class="presentation">
    <ul>
      <li><article>a</article></li>
      <li><article>a</article></li>
      <li><article>a</article></li>
    </ul>
  </section>

</main>
