<main class="home">
  <h1>Projet Audio</h1>
  <section class="homevid">
    <h2>videos</h2><a href="#">all videos</a>
    <ul>
      <li>
        <article>
          <img src="assets/video-like-a-rose-530x300.jpg">
          <h3>Like a Rose -- Ashley Monroe</h3>
        </article>
      </li>
      <li class="middle">
        <article>
          <img src="assets/video-big-love-550-530x300.jpg">
          <h3>Big Love -- Carrie Rodriguez</h3>
        </article>
        </li>
      <li>
        <article>
          <img src="assets/video-waitin-on-june-530x300.jpg">
          <h3>Waiting on June -- Holly Williams</h3>
        </article>
      </li>
    </ul>
  </section>

  <section class="homegigs">
    <h2>upcomming gigs</h2>
    <ul>
      <li>
        <div class="col1">
          <p>sep</p>
        </div>
        <div class="col2">
          <p>14</p>
        </div>
        <div class="col3">
          <p>Nashville, TN</p>
        </div>
        <div class="col4">
          <p>The Bluebird Cofee</p>
        </div>
      </li>
      <li>
        <div class="col1">
          <p>sep</p>
        </div>
        <div class="col2">
          <p>16</p>
        </div>
        <div class="col3">
          <p>Seatle, WA</p>
        </div>
        <div class="col4">
          <p>Tractor Tavern</p>
        </div>
      </li>
      <li>
        <div class="col1">
          <p>sep</p>
        </div>
        <div class="col2">
          <p>17</p>
        </div>
        <div class="col3">
          <p>Alexandria, VA</p>
        </div>
        <div class="col4">
          <p>The Birchmere</p>
        </div>
      </li>
      <li>
        <div class="col1">
          <p>sep</p>
        </div>
        <div class="col2">
          <p>25</p>
        </div>
        <div class="col3">
          <p>Washington, DC</p>
        </div>
        <div class="col4">
          <p>The Hamilton</p>
        </div>
      </li>
      <li>
        <div class="col1">
          <p>oct</p>
        </div>
        <div class="col2">
          <p>30</p>
        </div>
        <div class="col3">
          <p>Chipping Ongar, Essex</p>
        </div>
        <div class="col4">
          <p>Zinc Arts Centre</p>
        </div>
      </li>
    </ul>
    <a href="#">view all gigs</a>
  </section>

  <section class="presentation">
    <ul>
      <li>
        <article>
          <h3>about obsidian</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.</p>
        </article>
      </li>
      <li>
        <article>
          <h3>vivienne's omitted line</h3>
          <img src="assets/album-03-300x300.jpg">
        </article>
      </li>
      <li>
        <article>
          <h3>recents posts</h3>
          <div class="posts">
            <h4>Welcome to our redesigned website</h4>
            <p>april 1, 2015</p>
          </div>
          <div class="posts">
            <h4>New tour dates posted</h4>
            <p>december 16, 2014</p>
          </div>
          <div class="posts">
            <h4>History of popular music</h4>
            <p>december 15, 2014</p>
          </div>
        </article>
      </li>
    </ul>
  </section>

</main>
