<main class="contact">

  <h1>Obsidian</h1>
  <h2>news</h2>

  <section>
    <article>
      <article>
        <h1><a href="#">Welcome to our redesigned website</a></h1>
        <h2>By Brody vercher on april 1, 2015</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
      </article>

      <article>
        <h1><a href="#">New tour dates posted</a></h1>
        <h2>By Brody vercher on december 16, 2014</h2>
        <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,Lorem ipsum dolor sit amet... </p>
      </article>

      <article>
        <h1><a href="#">History of popular Music</a></h1>
        <h2>By Brody vercher on december 15, 2014</h2>
        <p>incididunt ut labore et Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. dolore magna aliqua. Ut enim ad minim veniam,Lorem ipsum dolor sit amet... </p>
      </article>

      <article>
        <h1><a href="#">Thanks for all the support, we couldn't do this without you</a></h1>
        <h2>By Brody vercher on december 14, 2014</h2>
        <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,Lorem ipsum dolor sit amet... incididunt ut labore et dolore magna aliqua. Ut enim ad minim <3 </p>
      </article>

      <article>
        <h1><a href="#">In Every Work of Genius We recognize Our Own rejected Thoughts</a></h1>
        <h2>By Brody vercher on december 12, 2014</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,Lorem ipsum dolor sit amet... incididunt ut labore et dolore magna aliqua. Ut enim ad minim <3 </p>
      </article>

      <article>
        <h1><a href="#">Morning Star Now Aviable!</a></h1>
        <h2>By Brody vercher on december 9, 2014</h2>
        <img src="assets/album-01.jpg">
      </article>


    </article>

    <article class="search">
      <section>
        <input name="search" placeholder="Search ...">
      </section>
      <section>
        <h1>Latest news</a></h1>
        <article>
          <h2>Welcome to our redesigned website</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt... </p>
          <p>april 1, 2015</p>
        </article>
        <article>
          <h2>New tour dates posted</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut... </p>
          <p>april 1, 2015</p>
        </article>
        <article>
          <h2>History of popular music</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor... </p>
          <p>april 1, 2015</p>
        </article>
      </section>
    </article>
  </section>

</main>
