<main class="photos">

  <h1>Projet Audio</h1>
  <section>
    <h2>photos</h2>
    <article>

      <table cellspacing="2px" cellpadding="2px;" rules="none">
        <tbody>
          <tr class="firstLine">
            <td>
              <img src="assets/gallery-09.jpg">
            </td>
            <td>
                <img src="assets/gallery-04.jpg">
                <img src="assets/gallery-05.jpg">
            </td>
          </tr>

          <tr class="secondLine">
            <td>
              <img src="assets/gallery-08.jpg">
            </td>
            <td>
              <img src="assets/gallery-07.jpg">
            </td>
            <td>
              <img src="assets/gallery-06.jpg">
            </td>
          </tr>

          <tr class="thirdLine">
            <td>
              <img src="assets/gallery-03.jpg">
            </td>
            <td>
              <img src="assets/gallery-01.jpg">
            </td>
            <td class="lessLarge">
              <img src="assets/gallery-02.jpg">
            </td>
            <td>
              <img src="assets/gallery-10.jpg">
            </td>
          </tr>
        </tbody>
      </table>

    </article>

  </section>

</main>
