<main class="photos">

  <h1>Projet Audio</h1>
  <section class="album">
    <h2>photos</h2>
    <article>

      <table cellspacing="2px" cellpadding="2px;" rules="none">
        <tbody>
          <tr class="firstLine">
            <td>
              <img src="assets/gallery-09.jpg">
            </td>
            <td>

                <img src="assets/gallery-04.jpg">


                <img src="assets/gallery-05.jpg">

            </td>
          </tr>

          <tr class="secondeLine">
            <td>a
            </td>
            <td>a
            </td>
            <td>a
            </td>
          </tr>

          <tr class="thirdLine">
            <td>a
            </td>
            <td>a
            </td>
            <td class="lessLarge">a
            </td>
            <td>a
            </td>
          </tr>
        </tbody>
      </table>

    </article>

  </section>

</main>
