/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  background-color: black;
  background-image: url(background.jpg);
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: white;

}

.filter{
  background-color: rgba(0, 0, 0, 0.7);
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  padding-top: 60px;
  padding-bottom: 20px;
}

.all-container {
  position: relative;
  display: block;
  width: 1100px;
  margin: auto;
}

.all-container nav{
  position: relative;
  display: block;
  width: 90%;
  margin: auto;
  margin-bottom: 17%;
}



.all-container nav ul {
  position: relative;
  list-style: none;
  padding: 0;
  margin: auto;

}

.all-container nav ul li {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 10%;
  margin-left: 1%;
  margin-right: 1%;
}
.all-container nav ul li a {
  font-weight: lighter;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}



.all-container nav ul li a:hover {
  font-weight: bold;

}



.all-container main {
  display: block;
  width: 100%;
  margin: 0;
}

.all-container footer{
  display: block;
  position: relative;
  margin-top: 30px;
}

.all-container footer nav.social {
  margin-bottom: 55px;
}

.all-container footer nav.social ul{
    position: relative;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}


.all-container footer nav.social ul li {
  width: 3%;
  margin-left: 3%;
  margin-right: 3%;
  text-align: center;
}

.all-container footer nav.social ul li a img.rdio{
  position: relative;
  color: white;
  width: 115%;
  margin-left: 5px;
  margin-right: auto;
}

.all-container footer p {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 5px;
}




/*//////////////////////////////////////*/

.presentation ul {
  display: block;
  padding: 0;
  border-top: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.2);
  padding-bottom: 60px;
  padding-top: 60px;
}


.presentation ul li   {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  margin-right: 40px;
}


.presentation ul li article h3 {
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 0;
}

.presentation ul li article p {
  color: rgba(255,255,255,0.6);
  text-transform: none;
  text-align: left;
  letter-spacing: normal;
}


.presentation ul li article img{
  margin-bottom: 10px;
  width: 100%;
}



.presentation ul li article .posts h4 {
  color: rgba(255,255,255,0.7);
  margin-bottom: 10px;
}

.presentation ul li article .posts p {
  color: rgba(255,255,255,0.7);
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 13px;
  letter-spacing: 2px;    margin-top: 0;
  margin-bottom: 30px;
}

.presentation ul li:last-child {
  margin-right: 0;
}
