// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.all-container h1 {
  position: relative;
  display: block;
  width: 52%;
  margin: auto;
  margin-bottom: 27%;
  font-size: 93px;
  text-align: center;
  text-transform: uppercase;
  font-weight:lighter;
  letter-spacing: 10px;
}
