<!DOCTYPE html>
<html>
<head>
  <title>ProjetAudio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="filter">
    <div class="all-container">
      <nav>
        <ul>
          <li><a href="/pages/home">home</a></li>
          <li><a href="#">bio</a></li>
          <li><a href="#">photos</a></li>
          <li><a href="#">music</a></li>
          <li><a href="#">videos</a></li>
          <li><a href="#">news</a></li>
          <li><a href="#">tour</a></li>
          <li><a href="#">contact</a></li>
        </ul>
      </nav>

      <!--
      ////////////////////////////////////////////////////
      //////   TOUT LES CONTENUS DOIVENT COMENCER   //////
      //////   PAR UN MAIN CLASS="NomDeLaPage"   /////////
      ////////////////////////////////////////////////////-->
        <%= yield %>
        <!--
        /////////////////////////////////////////////////
        //////   TOUT LES CONTENUS DOIVENT FINIR   //////
        ////////////////   PAR lE MAIN   ////////////////
        /////////////////////////////////////////////////-->

      <footer>
        <nav class="social">

          <ul>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
            <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
            <li><a href="#"><i class="fa fa-amazon"></i></a></li>
            <li><a href="#"><i class="fa fa-apple"></i></a></li>
            <li><a href="#"><i class="fa fa-soundcloud"></i></a></li>
            <li><a href="#"><img src="rdio4.svg"></a></li>
            <li><a href="#"><i class="fa fa-spotify"></i></a></li>
          </ul>

        </nav>
        <p>obsidian music theme by audiotheme</p>
      </footer>
    </div>
  </div>
</body>
</html>
